<header class="mainHeader">
    <h1>Licznik!</h1>
    <nav>
        <form action='/' method='GET'>
            <button type="submit" class="btn">Strona główna</button>
        </form>
        <% if (isAuthenticated) { %>
            <form action='/user/logout' method='POST'>
                <button type="submit" class="btn">Wyloguj</button>
            </form>
            <a href="/training/training" class="btn">Treningi</a>
            <a href="/exercise/exercise" class="btn">Ćwiczenia</a>
        <% } else { %>
            <a href="/user/login" class="btn">Zaloguj się</a>
            <a href="/user/register" class="btn">Zarejestruj się</a>
        <% } %>
    </nav>
</header>