<h2>Zaloguj się</h2>
<form action="/user/login" method="POST">
    <label for="username">Nazwa użytkownika</label>
    <input type="text" id="username" name="username" required>
    <label for="password">Hasło</label>
    <input type="text" id="password" name="password" required>
    <button type="submit">Zaloguj</button>
</form>