<h2>Register</h2>
<form action="/user/register" method="POST">
    <label for="email">Email</label>
    <input type="text" class="btn" id="email" name="email" required>
    <label for="username">Nazwa użytkownika</label>
    <input type="text" class="btn" id="username" name="username" required>
    <label for="password">Hasło</label>
    <input type="text" class="btn" id="password" name="password" required>
    <button type="submit">Zarejestruj</button>
</form>