<h2>Zarejestruj się</h2>
<form action='/user/login' method='GET'>
    <button type="submit" class="btn">Zaloguj się</button>
</form>
<form action="/user/register" method="POST">
    <label for="email">Email</label>
    <input type="text" id="email" name="email" required>
    <label for="username">Nazwa użytkownika</label>
    <input type="text" id="username" name="username" required>
    <label for="password">Hasło</label>
    <input type="text" id="password" name="password" required>
    <button type="submit">Zarejestruj</button>
</form>