<header class="mainHeader">
    <nav>
        <div class="pcnav">
            <form action='/' method='GET'>
                <button type="submit" class="btn">Strona główna</button>
            </form>
            <% if (isAuthenticated) { %>
                <a href="/logout" class="btn">Wyloguj</a>
                <a href="/training" class="btn">Treningi</a>
                <a href="/exercise" class="btn">Ćwiczenia</a>
            <% } else { %>
                <a href="/user/login" class="btn">Zaloguj się</a>
                <a href="/user/register" class="btn">Zarejestruj się</a>
            <% } %>
        </div>
        

        <!-- <a href="javascript:cookieConsent.reset()">Cookie settings</a> -->
    </nav>
</header>