<header class="mainHeader">
    <!-- <nav>
        <div class="pcnav">
            <a class="btn" href="/">Strona główna</a>
            <% if (isAuthenticated) { %>
                <a href="/user/logout" class="btn">Wyloguj</a>
                <a href="/training" class="btn">Treningi</a>
                <a href="/exercise" class="btn">Ćwiczenia</a>
            <% } else { %>
                <a href="/user/login" class="btn">Zaloguj się</a>
                <a href="/user/register" class="btn">Zarejestruj się</a>
            <% } %>
        </div>
        

        <a href="javascript:cookieConsent.reset()">Cookie settings</a> -->
    <!-- </nav> -->
    <div class="container-fluid my-bg my-shadow">
        <div class="container-md">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">
                <a class="navbar-brand" href="/">Strona główna</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-lg-0">
                        <li class="nav-item">
                            <a href="/training" class="nav-link">Treningi</a>
                        </li>
                        <li class="nav-item">
                            <a href="/exercise" class="nav-link">Ćwiczenia</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <button id="btnAddExercise" type="button" class="btn btn-outline-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
                            </svg>
                            Dodaj ćwiczenie
                          </button>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Użytkownik
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <% if (isAuthenticated) { %>
                                    <li><a href="/user/logout" class="nav-link">Wyloguj</a></li>
                                <% } else { %>
                                    <li><a href="/user/login" class="nav-link">Zaloguj się</a></li>
                                    <li><a href="/user/register" class="nav-link">Zarejestruj się</a></li>
                                <% } %>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            </nav>
        </div>
    </div>
</header>