<% if (messages.error) { %>
    <div class="message message-error show">
        <%= messages.error %>
    </div>
<% } %>
<% if (messages.info) { %>
    <div class="message message-info show">
        <%= messages.info %>
    </div>
<% } %>
<% if (messages.warning) { %>
    <div class="message message-warning show">
        <%= messages.warning %>
    </div>
<% } %>
<% if (messages.success) { %>
    <div class="message message-success show">
        <%= messages.success %>
    </div>
<% } %>
