<div id="modalNewExercise" class="modal">
    <div class="modal-content">
        <form>
            <label for="newExName">Nazwa ćwiczenia</label>
                <input list="exercises" class="input-text" id="newExName" name="newExName" autocomplete="off">
                
                <% if (isAuthenticated) { %>
                    <datalist id="exercises">
                    <% exercises.forEach(element => { %>
                        <option value="<%= element %>">
                    <% }) %>
                    </datalist>
                <% } else { %>
                    <small class="small-text">Zaloguj się żeby zobaczyć listę Twoich ćwiczeń</small>
                <% }  %>
                
            <div class="d-flex flex-row justify-content-end mt-3">
                <input id="modalBtnAddExercise" type="button" class="btn btn-primary mx-3" value="Dodaj">
                <btn id="modalAddExClose" class="btn btn-outline-danger">Anuluj</btn>
            </div>
        </form>
    </div>
</div>


