<div id="modalNewExercise" class="modal">
    <div class="modal-content">
        <span class="close" id="modalAddExClose">&times;</span>
        <form>
            <label for="newExName">Nazwa ćwiczenia</label>
                <input list="exercises" class="input-text" id="newExName" name="newExName" autocomplete="off">
                <datalist id="exercises">
                <% if (isAuthenticated) { %>
                    <% exercises.forEach(element => { %>
                        <option value="<%= element %>">
                    <% }) %>
                <% } %>
                </datalist>
            <input id="modalBtnAddExercise" type="button" class="btn btn-add" value="Dodaj">
        </form>
    </div>
</div>


