:root {
    --background: #F7F7FF;
    --button: #0C8DE9;
    --button-hover: #0B81D5;
    --error: #A3142E;
    --mainBlack: #070600;
}

body {
    background: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    align-items: top;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    padding-bottom: 150px;
}

h1 {
    color: var(--mainBlack);
    font-size: 3rem;
}

h2 {
    color: black;
    font-size: 1.75rem;
}

nav {
    display: flex;
    align-self: flex-start;
}

span {
    height: 100%;
}

ol {
    font-size: 1.5rem;
    margin-left: 0.5rem;
}

li {
    margin: 5px 0px 5px 0px;
    padding: 2px 0;
}

label {
    font-size: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
}

.mainHeader {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.exercise-box {
    color: black;
    background-color: var(--background);
    padding: 1rem 2rem 2rem 2rem;
    width: 80%;
    margin: 1rem 1rem 1rem 1rem;
    height: fit-content;
    border-radius: 25px;
    max-width: 400px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.reset-button {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.box-title {
    margin: 0px 0px 15px 0px;
    display: flex;
    justify-content: center;
}


.btn {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    background-color: var(--button);
    color: var(--background);
    padding: 0.6rem 0.5rem 0.6rem 0.5rem;
}

.btn:hover {
    background-color: var(--button-hover);
    cursor: pointer;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
.close {
    color: var(--error);
    float: right;
    font-size: 2rem;
    font-weight: bold;
    margin: 0px 0px 0px 0px;
  }

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.addEx {
      position:fixed;
      bottom: 3rem;
      width: 100%;
  }

.btn-delete {
    width: 100%;
    min-width: 100px;
}

.add-repetitions-form {
    width: 100%;
    justify-content: center;
    flex-direction: row;
}

.btn-count {
    width: 75%;
}

.btn-add-ex {
    width: 25%;
    min-width: 80px;
    margin-left: 10px;
}

.remove-rep {
    position: relative;
    bottom: 5px;
}

.input-text {
    width: 100%;
}

#btnAddExercise {
      width: 100%;
      height: 80px;
      font-size: 2rem;
  }

#newExName {
    width: 75%;
}