<div>
    <form method="POST" action="/weight" novalidate>
        <div class="form-group">
            <label for="weightValue">Waga</label>
            <input type="number" id="weightValue" name="weightValue" required>
        </div>
        <div class="form-group">
            <label for="date">Data</label>
            <input type="date" id="date" name="date" required>
        </div>
        <div class="form-group">
            <label for="description">Opis</label>
            <input type="text" id="description" name="description">
        </div>
        <div class="form-group">
            <button type="submit" class=''>Dodaj</button>
        </div>
    </form>
</div>
<% for( let i = 0; i < weights.length; i++ ) { %>
    <div class="exercise-box trainingList">
        <div>
            <p><%= weights[i].weightValue %> </p>
            <small class="datetime">Dodano: <%= weights[i].date.toLocaleString('pl-PL', {
                weekday: 'long',
                day: 'numeric', 
                year: 'numeric'
            } ) %></small>
        </div>
        <% if (weights[i].descritpion) { %>
            <div>
                <p><%= weights[i].description %> </p>
            </div>
        <% } %>
        <form class="" method="POST" action="/weight/<%= encodeURIComponent(weights[i]._id) %>?_method=DELETE">
            <button type="submit" class=''>&times;</button>
        </form>
    </div>
<% } %>


