<div class="tags">
<% for( let i = 0; i < exercises.length; i++ ) { %>
    <div class="btn exTag">
        <a class="blankLink font-white" href="/exercise/<%= encodeURIComponent(exercises[i]) %> "><%= exercises[i] %></a>
    </div>
<% } %>
</div>