<ul>
    <% for( let i = 0; i < trainings.length; i++ ) { %>
        <li>
            <div>
                <p><%= trainings[i].name %> </p>
                <% for( let j = 0; j < trainings[i].exercises.length; j++ ) { %>
                    <p><%= trainings[i].exercises[j].name %> </p>
                    <p><%= trainings[i].exercises[j].count %> </p>
                <% } %>
            </div>
        </li>
    <% } %>
    </ul>