
<main>
    
</main>
<%- include('./partials/modalAddEx.ejs') %>
<div id="modalSaveTraining" class="modal">
    <div class="modal-content">
        <span class="close" id="modalSaveTrainingClose">&times;</span>
        <form>
            <label for="newTrainingName">Nazwa treningu</label>
            <input type="text" class="" id="newTrainingName" name="newTrainingName">
            <input type="button" id="modalBtnSaveTraining" class="btn btn-add" value="Zapisz">
        </form>
    </div>
</div>